@import "./css3-mixins.scss";

.header {
  nav {
    padding: 37px 50px;
    background: white;
    @media (max-width: 1030px) {
      padding: 30px;
    }
    ul {
      &.middle li {
        padding: 0 22px;
        @media (max-width: 1140px) {
          padding: 0 15px;
        }
        @media (max-width: 1070px) {
          padding: 0 10px;
        }
      }
      &:first-of-type {
        li a {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: transparent;
            @include transition(all 0.5s);
            @include transform(translateY(20px));
          }
          &:hover:after {
            background: #ffdb00;
            @include transform(translateY(0));
          }
        }
      }
      li {
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        text-align: center;
        a {
          font-family: "Apercu Medium";
          font-size: 18px;
          color: white !important;
          svg * {
            @include transition(all 0.5s);
          }
          &:hover svg * {
            stroke: #ffdb00;
          }
        }
        button {
          font-size: 16px;
          color: #221f20;
          padding: 12px 18px;
          background: #ffdb00;
          border: none;
          @include border-radius(0);
          @include transition(background 0.5s);
          &:hover {
            background: white;
          }
        }
      }
    }
  }
}
